annotated-types==0.7.0
black==24.8.0
certifi==2024.8.30
charset-normalizer==3.3.2
httplib2==0.22.0
idna==3.10
iniconfig==2.0.0
flake8==7.1.1
markupsafe==2.1.5
packaging==24.1
pdoc3==0.11.1
pip==25.0.1
playwright==1.51.0
pytest-playwright==0.7.0
install_playwright==0.1.0
pluggy==1.5.0
pydantic-core==2.27.2
pydantic-settings==2.8.1
python-dotenv==1.0.1
python-hpilo==4.4.3
pytest-check>=2.2.0
pytest-cov>=4.0.0
pytest-dependency>=0.5.1
pytest-order>=1.0.0
pytest-md-report>=0.6.2
pytest-reportportal==5.1.9
pytest-xdist>=3.3.1
requests==2.32.3
reportportal-client==5.3.5
setuptools==75.1.0
typing-extensions==4.12.2
uv==0.4.13
werkzeug==3.0.6
waiting==1.5.0
hpe-pc-automation-lib>=2.120.0
